In [1]:
import numpy as np
import pandas as pd

## Importing Excel documents

In [2]:
pd.read_excel('res/Excel_Sample.xlsx', sheet_name='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## Creating Excel documents

In [3]:
df = pd.DataFrame({'one': [np.random.randint(1, 10) for x in range(10)],
                  'two': [np.random.randint(10, 20) for x in range(10)],
                  'three': [np.random.randint(20, 30) for x in range(10)]})

In [4]:
df

   one  two  three
0    9   16     24
1    1   10     24
2    5   19     28
3    7   17     22
4    8   18     23
5    9   16     28
6    7   11     25
7    4   14     28
8    8   13     23
9    9   17     21

In [5]:
df.to_excel('res/df.xlsx', sheet_name='Sheet1')

In [6]:
copy_df = pd.read_excel('res/df.xlsx', sheet_name='Sheet1')

In [7]:
copy_df

   one  two  three
0    9   16     24
1    1   10     24
2    5   19     28
3    7   17     22
4    8   18     23
5    9   16     28
6    7   11     25
7    4   14     28
8    8   13     23
9    9   17     21

## Reading HTML

In [8]:
css_selectors = pd.read_html('https://www.w3schools.com/cssref/css_selectors.asp')

In [9]:
type(css_selectors)

list

In [10]:
css_df = pd.DataFrame({'Selectors': css_selectors[0][0][1:],
                      'Example': css_selectors[0][1][1:],
                      'Description': css_selectors[0][2][1:]})

In [11]:
css_df[['Selectors', 'Example', 'Description']]

,Selectors,Example,Description
1,.class,.intro,"Selects all elements with class=""intro"""
2,#id,#firstname,"Selects the element with id=""firstname"""
3,*,*,Selects all elements
4,element,p,Selects all <p> elements
5,"element,element","div, p",Selects all <div> elements and all <p> elements
6,element element,div p,Selects all <p> elements inside <div> elements
7,element>element,div > p,Selects all <p> elements where the parent is a...
8,element+element,div + p,Selects all <p> elements that are placed immed...
9,element1~element2,p ~ ul,Selects every <ul> element that are preceded b...
10,[attribute],[target],Selects all elements with a target attribute
11,[attribute=value],[target=_blank],"Selects all elements with target=""_blank"""
12,[attribute~=value],[title~=flower],Selects all elements with a title attribute co...
13,[attribute|=value],[lang|=en],Selects all elements with a lang attribute val...
14,[attribute^=value],"a[href^=""https""]",Selects every <a> element whose href attribute...
15,[attribute$=value],"a[href$="".pdf""]",Selects every <a> element whose href attribute...
16,[attribute*=value],"a[href*=""w3schools""]",Selects every <a> element whose href attribute...
17,:active,a:active,Selects the active link
18,::after,p::after,Insert something after the content of each <p>...
19,::before,p::before,Insert something before the content of each <p...
20,:checked,input:checked,Selects every checked <input> element
21,:default,input:default,Selects the default <input> element
22,:disabled,input:disabled,Selects every disabled <input> element
23,:empty,p:empty,Selects every <p> element that has no children...
24,:enabled,input:enabled,Selects every enabled <input> element
25,:first-child,p:first-child,Selects every <p> element that is the first ch...
26,::first-letter,p::first-letter,Selects the first letter of every <p> element
27,::first-line,p::first-line,Selects the first line of every <p> element
28,:first-of-type,p:first-of-type,Selects every <p> element that is the first <p...
29,:focus,input:focus,Selects the input element which has focus
30,:hover,a:hover,Selects links on mouse over
31,:in-range,input:in-range,Selects input elements with a value within a s...
32,:indeterminate,input:indeterminate,Selects input elements that are in an indeterm...
33,:invalid,input:invalid,Selects all input elements with an invalid value
34,:lang(language),p:lang(it),Selects every <p> element with a lang attribut...
35,:last-child,p:last-child,Selects every <p> element that is the last chi...
36,:last-of-type,p:last-of-type,Selects every <p> element that is the last <p>...
37,:link,a:link,Selects all unvisited links
38,:not(selector),:not(p),Selects every element that is not a <p> element
39,:nth-child(n),p:nth-child(2),Selects every <p> element that is the second c...
40,:nth-last-child(n),p:nth-last-child(2),Selects every <p> element that is the second c...
41,:nth-last-of-type(n),p:nth-last-of-type(2),Selects every <p> element that is the second <...
42,:nth-of-type(n),p:nth-of-type(2),Selects every <p> element that is the second <...
43,:only-of-type,p:only-of-type,Selects every <p> element that is the only <p>...
44,:only-child,p:only-child,Selects every <p> element that is the only chi...
45,:optional,input:optional,"Selects input elements with no ""required"" attr..."
46,:out-of-range,input:out-of-range,Selects input elements with a value outside a ...
47,::placeholder,input::placeholder,Selects input elements with placeholder text
48,:read-only,input:read-only,"Selects input elements with the ""readonly"" att..."
49,:read-write,input:read-write,"Selects input elements with the ""readonly"" att..."
50,:required,input:required,"Selects input elements with the ""required"" att..."
51,:root,:root,Selects the document's root element
52,::selection,::selection,Selects the portion of an element that is sele...
53,:target,#news:target,Selects the current active #news element (clic...
54,:valid,input:valid,Selects all input elements with a valid value
55,:visited,a:visited,Selects all visited links

In [12]:
css_df.to_excel('res/CSS Selectors.xlsx', sheet_name='Sheet1')

## Reading SQL

In [13]:
import sqlalchemy

In [14]:
engine = sqlalchemy.create_engine('sqlite:///:memory')

In [15]:
engine

Engine(sqlite:///:memory)

In [16]:
df

   one  two  three
0    9   16     24
1    1   10     24
2    5   19     28
3    7   17     22
4    8   18     23
5    9   16     28
6    7   11     25
7    4   14     28
8    8   13     23
9    9   17     21

In [17]:
df.to_sql('table', engine)

In [18]:
sqldf = pd.read_sql('table', con=engine)

In [19]:
sqldf

   index  one  two  three
0      0    9   16     24
1      1    1   10     24
2      2    5   19     28
3      3    7   17     22
4      4    8   18     23
5      5    9   16     28
6      6    7   11     25
7      7    4   14     28
8      8    8   13     23
9      9    9   17     21

## Reading CSV

In [24]:
df.to_csv('res/data.csv', index=False) # Avoids adding unnecessary rows/cols

In [25]:
pd.read_csv('res/data.csv')

   one  two  three
0    9   16     24
1    1   10     24
2    5   19     28
3    7   17     22
4    8   18     23
5    9   16     28
6    7   11     25
7    4   14     28
8    8   13     23
9    9   17     21